name: build-and-push

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/cirrusk/${{ github.event.repository.name }}:latest
  deploy:
      needs: build
      runs-on: ubuntu-latest
      steps:
        - name: Deploy via SSH
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.PROD_SSH_HOST }}
            username: ${{ secrets.PROD_SSH_USER }}
            key: ${{ secrets.PROD_SSH_KEY }}
            port: ${{ secrets.PROD_SSH_PORT }}
            script: |
              sudo /usr/local/sbin/deploy-app ${{ github.event.repository.name }}
